@model iGMS.Models.MaterialAccount
@{
    ViewBag.Title = "Sửa TKVT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="id" value="@Model.Id" hidden />
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Sửa TKVT
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-text">Vui Lòng Nhập Đúng Tất Cả Dữ Liệu Để Đảm Bảo Hệ Thống (1 Tính Chất Mới Chỉ Cần Khai Báo 1 Lần Để Lưu Vào Hệ Thống)</div>
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    Lướt Vào Để Xem Mô Tả
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Tên TKVT <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" placeholder="Tên TKVT" id="name" value="@Model.Name" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Mô Tả</label>
            <div class="col-10">
                <div class="input-group ">
                    <textarea class="form-control" type="text" placeholder="Mô Tả" id="des">@Model.Description</textarea>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-1 col-form-label">Trạng Thái</label>
            <label type="button" class="col-1" data-toggle="tooltip" title="Trạng Thái Thể Hiện Tình Trạng Hoạt Động Của TKVT">
                <i class="flaticon-warning text-primary"></i>
            </label>
            <div class="col-10">
                <label class="checkbox checkbox-success">
                    <input type="checkbox" name="Checkboxes5" id="status" checked="@Model.Status">
                    <span></span>Trạng Thái
                </label>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" onclick="Edit()">Submit</button>
                <a href="/MaterialAccount/Index" type="reset" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/MaterialAccount.js"></script>
}



