
@{
    ViewBag.Title = "Thêm Khách Hàng Doanh Nghiệp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Thêm Khách Hàng Doanh Nghiệp
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    Vui Lòng Nhập Đúng Tất Cả Dữ Liệu Để Đảm Bảo Hệ Thống
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Mã Khách Hàng <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group-prepend">
                    <span class="input-group-text">KHDN</span>
                    <input required class="form-control" value="0000001" type="number" min="0000001" max="1000000" onkeyup="ValidateId()" onclick="ValidateId()" id="id" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Mã Barcode <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <svg id="barcode">

                    </svg>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Họ & Tên <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input required class="form-control" type="text" placeholder="Họ & Tên" id="name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Tỉnh Thành <span style="color:red"> (*) </span></label>
            <div class="col-2">
                <select name="" id="province">
                    <option value="-1">Chọn tỉnh thành</option>
                </select>
            </div>
            <label for="example-search-input" class="col-2 col-form-label">Quận/Huyện <span style="color:red"> (*) </span> </label>
            <div class="col-2">
                <select name="" id="district">
                    <option value="-1">Chọn quận/huyện</option>
                </select>
            </div>
            <label for="example-search-input" class="col-2 col-form-label">Phường/Xã <span style="color:red"> (*) </span></label>
            <div class="col-2">
                <select name="" id="town">
                    <option value="-1">Chọn phường/xã</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Địa Chỉ  <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input required class="form-control" type="text" placeholder="Địa Chỉ" id="address" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Tên Giao Dịch </label>
            <div class="col-10">
                <input required class="form-control" type="text" placeholder="Tên Giao Dịch" id="nametransaction" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Mã Số Thuế  <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input required class="form-control" type="number" placeholder="Mã Số Thuế" id="taxcode" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Số Fax </label>
            <div class="col-10">
                <input required class="form-control" type="number" placeholder="Số Fax" id="fax" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Số Điện Thoại <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input required class="form-control" type="number" placeholder="Số Điện Thoại" id="phone" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Email <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input required class="form-control" type="email" placeholder="example@example.com" id="email" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Đại Diện <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" placeholder="Đại Diện" id="represent" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Chức Vụ <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" placeholder="Chức Vụ" id="position" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Website</label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" placeholder="Website" id="website" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Tài Khoản Giao Dịch <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="number" placeholder="Tài Khoản Giao Dịch" id="stk" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Thuộc Ngân Hàng <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" placeholder="Thuộc Ngân Hàng" id="bank" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Thuộc Ngành Hàng <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <select class="form-control" id="industry">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Thuộc Nhóm Hàng <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <select class="form-control" id="groupgoods">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Được Nợ Từ Giá</label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" value="0.000"  id="debtfrom" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Được Nợ Đến Giá</label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" value="0.000"  id="debtto" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" id="submit" onclick="Add()">Submit</button>
                <a href="Customer/index" type="reset" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
@section scripts{

   <script>
       Industry();
       //--------------------Select::Industry--------------
       function Industry() {
           $.ajax({
               url: '/customer/Industry',
               type: 'get',
               success: function (data) {
                   $('#industry').empty();
                   if (data.code == 200) {
                       let table = '<option value="-1">Thuộc Ngành Hàng</option>'
                       $.each(data.c, function (k, v) {
                           table += '<option value="' + v.id + '">' + v.name + '</option>'
                       });
                       $('#industry').append(table);
                   } else (
                       alert(data.msg)
                   )
               }
           })
       }
       //--------------------Select::GroupGoods--------------
       $('#industry').on('change', function () {
           var idindustry = $("#industry option:selected").val();
           $.ajax({
               url: '/customer/GroupGoods',
               type: 'get',
               data: {
                   idindustry
               },
               success: function (data) {
                   $('#groupgoods').empty();
                   if (data.code == 200) {
                       let table = '<option value="-1">Thuộc Nhóm Hàng</option>'
                       $.each(data.c, function (k, v) {
                           table += '<option value="' + v.id + '">' + v.name + '</option>'
                       });
                       $('#groupgoods').append(table);
                   } else (
                       alert(data.msg)
                   )
               }
           })
       })
    </script>


    <script src="~/Scripts/api.js"></script>
    <script src="~/Scripts/data.json.js"></script>

    <script src="~/Scripts/Customer.js"></script>
}

