
@{
    ViewBag.Title = "Thêm Hàng Hóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Thêm Hàng Hóa
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-text">Vui Lòng Nhập Đúng Tất Cả Dữ Liệu Để Đảm Bảo Hệ Thống (1 Hàng Hóa Mới Chỉ Cần Khai Báo 1 Lần Để Lưu Vào Hệ Thống)</div>
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    Lướt Vào Để Xem Mô Tả
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-9">
                <div class="form-group row">
                    <label class="col-1 col-form-label">Barcode <span style="color:red"> (*) </span></label>
                    <label type="button" class="col-1" data-toggle="tooltip" title="Barcode của mặt hàng cần bán (8-12-13 kí tự)">
                        <i class="flaticon-warning text-primary"></i>
                    </label>
                    <div class="col-10">
                        <div class="input-group-prepend">
                            <input required class="form-control" type="text" id="id" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-1 col-form-label">Mã Hàng Hóa <span style="color:red"> (*) </span></label>
                    <label type="button" class="col-1" data-toggle="tooltip" title="Mã Hàng Hóa (Tự Động Khi Nhập Barcode Theo Chuẩn GTIN) - Có Thể Chỉnh Sửa Lại">
                        <i class="flaticon-warning text-primary"></i>
                    </label>
                    <div class="col-10">
                        <div class="input-group-prepend">
                            <input class="form-control" type="text" id="idgood" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-password-input" class="col-2 col-form-label">Tên Hàng Hóa <span style="color:red"> (*) </span></label>
                    <div class="col-10">
                        <div class="input-group ">
                            <input class="form-control" type="text" placeholder="Tên Hàng Hóa" id="name" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-2">Đơn Vị Chính</label>
                    <div class="col-4">
                        <select class="form-control select2" id="kt_select2_2"  name="unit" >
                        </select>
                    </div>
                    <label class="col-form-label col-2">Tính Chất</label>
                    <div class="col-4">
                        <select class="form-control" name="param" id="nature">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-password-input" class="col-2 col-form-label">Thuộc Loại Hàng></label>
                    <div class="col-4">
                        <div class="input-group ">
                            <select class="form-control" id="categoods">
                            </select>
                        </div>
                    </div>
                    <label for="example-password-input" class="col-2 col-form-label">Thuộc Nhóm Hàng</label>
                    <div class="col-4">
                        <div class="input-group ">
                            <select class="form-control" id="groupgoods">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-password-input" class="col-2 col-form-label">Mô Tả Hàng Hóa <span style="color:red"> (*) </span></label>
                    <div class="col-10">
                        <div class="input-group ">
                            <textarea class="form-control" type="text" placeholder="Mô Tả Hàng Hóa" id="des"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Hình Ảnh Sản Phẩm</label>
                    <div class="image-input image-input-outline" style="left:1%" id="kt_image_1">
                        <div class="image-input-wrapper" style="background-image: url(assets/media/users/blank.png)"></div>
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                            <i class="fa fa-pen icon-sm text-muted"></i>
                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="profile_avatar_remove" />
                        </label>
                        <input type="text" hidden name="name_route_image" />
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                    </div>
                </div>
                <duv class="form-group row">
                    <label for="example-password-input" class="col-2 col-form-label">@*Mã Barcode <span style="color:red"> (*) </span>*@</label>
                    <div class="col-10">
                        <div class="input-group ">
                            <svg id="barcode">

                            </svg>
                        </div>
                    </div>
                </duv>
            </div>
        </div>
        <div class="card card-custom">
            <div class="card-header card-header-tabs-line">
                <div class="card-title">
                    <ul class="nav nav-tabs nav-bold nav-tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_2">Ngầm Định</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_2">Đơn Vị Tính Khác</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3_2">Bổ Sung</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="kt_tab_pane_1_2" role="tabpanel">
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Giá Mua <span style="color:red"> (*) </span></label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Giá Mua Thực Của Hàng Hóa">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <input class="form-control " onkeyup="keyUpMoney('purchasePrice')" type="number" value="0" id="purchasePrice" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Giá Bán <span style="color:red"> (*) </span></label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Giá Bán Thực Của Hàng Hóa ">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <input class="form-control"onkeyup="keyUpMoney('price')" type="number" value="0" id="price" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Thuế GTGT<span style="color:red"> (*) </span></label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Đơn Vị %">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <div class="input-group">
                                            <select id="gtgt" class="form-control">
                                                <option value="gtgt0">0%</option>
                                                <option value="gtgt5">5%</option>
                                                <option value="gtgt10">10%</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Thuế TTDB<span style="color:red"> (*) </span></label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Đơn Vị %">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <input class="form-control" type="number" value="0" id="ttdb" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Thuế NK<span style="color:red"> (*) </span></label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Đơn Vị %">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <input class="form-control " type="number" value="0" id="nk" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-4 col-form-label">Mã TKVT<span style="color:red"> (*) </span></label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <select class="form-control" id="materialAccount">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Quản Lý Tồn Kho</label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Cho phép hàng đưuọc quản lí tồn kho">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <label class="checkbox checkbox-success">
                                            <input type="checkbox" name="Checkboxes5" id="status" checked="checked">
                                            <span></span>Trạng Thái
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Không Chịu Thuế VAT</label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Trạng Thái Thể Hiện Tình Trạng Hoạt Động Của Đơn Vị">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <label class="checkbox checkbox-success">
                                            <input type="checkbox" name="Checkboxes5" id="status" checked="">
                                            <span></span>Trạng Thái
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="kt_tab_pane_2_2" role="tabpanel">
                        <div class="form-group mb-8">
                            <div class="alert alert-custom alert-default" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                                <div class="alert-text">
                                    Trường Hợp Hàng Hóa Có Sử Dụng Nhiều Đơn Vị Tính Khác Nhau Khi Nhập/Xuất Thì Khai Báo Thêm
                                    Các Đơn Vị Tính Ở Đây <br> Ví Dụ : 1 Thùng Bia = 24 Lon, 1 Cây Thuốc = 10 Gói
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>ĐVT Quy Đổi</th>
                                    <th>Giá Bán Cố Định</th>
                                    <th>
                                        Hành Động
                                        <img onclick="addOrderUnit()" src="~/Images/icons-add.png" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="orderUnit">
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="kt_tab_pane_3_2" role="tabpanel">
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Nhà Cung Cấp <span style="color:red"> (*) </span></label>
                                    <div class="col-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="supplier">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Nhãn Hàng</label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Model</label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">SoSerial</label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Qui Cách</label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Xuất Xứ</label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Nắm SX</label>
                                    <div class="col-10">
                                        <input class="form-control" type="datetime" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Trọng Lượng</label>
                                    <div class="col-10">
                                        <input class="form-control" type="number" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">Theo Dõi bào Hành</label>
                                    <label type="button" class="col-2" data-toggle="tooltip" title="Trạng Thái Thể Hiện Tình Trạng Hoạt Động Của Đơn Vị">
                                        <i class="flaticon-warning text-primary"></i>
                                    </label>
                                    <div class="col-8">
                                        <label class="checkbox checkbox-success">
                                            <input type="checkbox" name="Checkboxes5" id="status" checked="checked">
                                            <span></span>Trạng Thái
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Thời Gian Bảo Hành</label>
                                    <div class="col-10">
                                        <select class="form-control">
                                            <option value="1">1 Ngày</option>
                                            <option value="7">1 Tuần</option>
                                            <option value="30">1 Tháng</option>
                                            <option value="60">2 Tháng</option>
                                            <option value="90">3 Tháng</option>
                                            <option value="120">4 Tháng</option>
                                            <option value="150">5 Tháng</option>
                                            <option value="180">6 Tháng</option>
                                            <option value="210">7 Tháng</option>
                                            <option value="240">8 Tháng</option>
                                            <option value="270">9 Tháng</option>
                                            <option value="300">10 Tháng</option>
                                            <option value="330">11 Tháng</option>
                                            <option value="360">12 Tháng</option>
                                            <option value="720">2 Năm</option>
                                            <option value="1080">3 năm</option>
                                            <option value="1440">4 năm</option>
                                            <option value="1800">5 năm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Điều Khoản Bảo Hành</label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Tồn Tối Thiểu</label>
                                    <div class="col-10">
                                        <input class="form-control" type="number" id="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Tồn Tối Đa</label>
                                    <div class="col-10">
                                        <input class="form-control" type="number" id="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Hoạt Động</label>
            <label type="button" class="col-2" data-toggle="tooltip" title="Trạng Thái Thể Hiện Tình Trạng Hoạt Động Của Đơn Vị">
                <i class="flaticon-warning text-primary"></i>
            </label>
            <div class="col-8">
                <label class="checkbox checkbox-success">
                    <input type="checkbox" name="Checkboxes5" id="status" checked="checked">
                    <span></span>Trạng Thái
                </label>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" onclick="Add()">Submit</button>
                <a href="/Goods/Index" type="reset" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
      
        Unit()
        Nature()    
        CateGooods();
        GroupGoods()
        MaterialAccount()

        Gender()
        Season();
        Coo();
        WareHouse()
        Style();
        Color();
        Size();
        //--------------------Select::CateGoods--------------
        function CateGooods() {
            $.ajax({
                url: '/goods/CateGoods',
                type: 'get',
                success: function (data) {
                    $('#categoods').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Thuộc Loại  Hàng</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#categoods').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        function GroupGoods() {
            $.ajax({
                url: '/goods/GroupGoods',
                type: 'get',
                success: function (data) {
                    $('#groupgoods').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Thuộc Nhóm Hàng</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#groupgoods').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        var input = document.querySelector('input[name=tags-outside]')
        var input1 = document.getElementById('epc');
        // init Tagify script on the above inputs
        $.ajax({
            url: '/goods/Supplier',
            type: 'get',
            success: function (data) {
                if (data.code == 200) {
                    let a = ''
                    $.each(data.c, function (k, v) {
                        a += v.id + " : " + v.name + ","
                    })
                    const myArray = a.split(",");
                    new Tagify(input, {
                        whitelist:
                            myArray
                        ,
                        dropdown: {
                            position: "input",
                            enabled: 0// always opens dropdown when input gets focus
                        }
                    })


                }
            }
        })
        //--------------------Select::Unit--------------
        function Unit() {
            $.ajax({
                url: '/Unit/allUnit',
                type: 'get',
                success: function (data) {
                    $('select[name="unit"]').empty();
                    if (data.code == 200) {
                        $.each(data.groupUnit, function (k, v) {
                            let table = '<optgroup id="groupUnit' + v.id + '" label="' + v.name + '">'
                                table += '</optgroup>'
                            $('select[name="unit"]').append(table);
                            option("groupUnit" + v.id + "")
                         });   
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        function option(id) {
            var idGroupUnit = id.substring(9)
            $.ajax({
                url: '/Unit/unitToGroup',
                type: 'get',
                data: { idGroupUnit},
                success: function (data) {
                    $('#groupUnit' + idGroupUnit + '').empty();
                    if (data.code == 200) {
                        $.each(data.a, function (k, v) {
                            let table = '<option value="' + v.id + '">' + v.id + ' : ' + v.name + '</option > '
                                $('#groupUnit' + idGroupUnit + '').append(table);
                            });                        
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::Style--------------
        function Style() {
            $.ajax({
                url: '/goods/Style',
                type: 'get',
                success: function (data) {
                    $('#style').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Phong Cách</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#style').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::Season--------------
        function Season() {
            $.ajax({
                url: '/goods/Season',
                type: 'get',
                success: function (data) {
                    $('#season').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Mùa Vụ</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#season').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::Season--------------
        function Color() {
            $.ajax({
                url: '/goods/Color',
                type: 'get',
                success: function (data) {
                    $('#color').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Màu Sắc</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#color').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::Size--------------
        function Size() {
            $.ajax({
                url: '/goods/Size',
                type: 'get',
                success: function (data) {
                    $('#size').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Kích Thước</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#size').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::coo--------------
        function Coo() {
            $.ajax({
                url: '/goods/Coo',
                type: 'get',
                success: function (data) {
                    $('#coo').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Nhà Sản Xuất</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#coo').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::gender--------------
        function Gender() {
            $.ajax({
                url: '/goods/Gender',
                type: 'get',
                success: function (data) {
                    $('#gender').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Giới Tính</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#gender').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::WareHouse--------------
        function WareHouse() {
            $.ajax({
                url: '/goods/WareHouse',
                type: 'get',
                success: function (data) {
                    $('#warehouse').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Kho</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#warehouse').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        //--------------------Select::nature--------------
        function Nature() {
            $.ajax({
                url: '/Nature/Nature',
                type: 'get',
                success: function (data) {
                    $('#nature').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Tính Chất</option>'
                        $.each(data.a, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#nature').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }

        //--------------------Select::materialAccount--------------
        function MaterialAccount() {
            $.ajax({
                url: '/MaterialAccount/materialAccount',
                type: 'get',
                success: function (data) {
                    $('#materialAccount').empty();
                    if (data.code == 200) {
                        let table = '<option value="156">Hàng hóa</option>'
                        $.each(data.a, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#materialAccount').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        $('[data-toggle="tooltip"]').tooltip()
        var avatar1 = new KTImageInput('kt_image_1');
    </script>
    <script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="~/Scripts/Goods.js"></script>
}
