.confirmmanager
{
    text-align:center;
}
.confirmmanagercheck {
    display: inline-block
}
.number-notification {
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15%;
    text-align: center;
}