
@{
    ViewBag.Title = "Đặt Hàng Bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Lên Đơn Hàng Bán
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    Vui Lòng Nhập Đúng Tất Cả Dữ Liệu Để Đảm Bảo Hệ Thống
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Tên Đơn Hàng Bán <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" placeholder="Tên Đơn Hàng Bán" id="name" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Nơi Xuất Hàng<span style="color:red"> (*) </span></label>
            <div class="col-9 col-form-label">
                <div class="radio-inline">
                    <label class="radio radio-success">
                        <input type="radio" value="CH" name="radio" />
                        <span></span>
                        Cửa Hàng
                    </label>
                    <label class="radio radio-success">
                        <input id="check" type="radio" name="radio" value="KH" checked="checked" />
                        <span></span>
                        Kho Hàng
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Xuất Tại Kho<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <select class="form-control" id="warehouse">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Xuất Tại Cửa Hàng<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <select class="form-control" id="store" disabled>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Khách Hàng<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <select class="form-control" id="customerKH">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Nhân Viên Bán<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <select class="form-control" id="user">
                </select>
            </div>
        </div>
        <div class="form-group  row">
            <label for="example-search-input" class="col-2 col-form-label">Hàng Hóa<span style="color:red"> (*) </span></label>
            <div class="col-10" style="height: 500px;overflow-y: scroll;">
                <div class="input-group ">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="38" height="38"
                         viewBox="0 0 48 48"
                         style=" fill:#000000;">
                        <path fill="#616161" d="M34.6 28.1H38.6V45.1H34.6z" transform="rotate(-45.001 36.586 36.587)"></path>
                        <path fill="#616161" d="M20 4A16 16 0 1 0 20 36A16 16 0 1 0 20 4Z"></path>
                        <path fill="#37474F" d="M36.2 32.1H40.2V44.400000000000006H36.2z" transform="rotate(-45.001 38.24 38.24)"></path>
                        <path fill="#64B5F6" d="M20 7A13 13 0 1 0 20 33A13 13 0 1 0 20 7Z"></path>
                        <path fill="#BBDEFB" d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path>
                    </svg>
                    <input class="form-control" type="search" placeholder="Tìm Mã Hàng" id="seachidgood" />
                </div>
                <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width: 1234px;">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Stt</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Mã Hàng</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Tên Hàng</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Đơn Vị</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Số Lượng</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Đơn Giá</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">%Chiết Khấu</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Tiền Chiết Khấu</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">%Thuế GTGT</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Tiền Thuế GTGT</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Thành Tiền</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending"></th>
                        </tr>
                        
                    </thead>
                    <tbody id="tbd">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Tổng Tiền Hàng<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group">
                    <h1 id="sumprice"></h1>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Phương Thức Thanh Toán<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <select class="form-control" id="paymethod">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Tiền Đã Trả<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="" id="partialpay" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Tiền Còn Nợ<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <h1 id="liabilities"></h1>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Thời Hạn Thanh Toán<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input class="form-control" type="date" placeholder="" id="datepay" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Ngày Nhận Hàng<span style="color:red"> (*) </span></label>
            <div class="col-10">
                <input class="form-control" type="date" placeholder="" id="deliverydate" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Trạng Thái Nhận Hàng</label>
            <div class="col-1">
                <span class="switch">
                    <label>
                        <input disabled type="checkbox" name="select" id="status" />
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Mô Tả<span style="color:red"></span></label>
            <div class="col-10">
                <textarea class="form-control" placeholder="" id="des">
                </textarea>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" onclick="Add()">Tạo Đơn Hàng</button>
                <a href="/PurchaseOrder/Index" type="reset" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="BILL" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1100px">
        <div class="modal-content">
            <div class="modal-body" id="in">
                <div class="row">
                    <div class="col-6">
                        <p> <span name="nameware"></span></p>
                    </div>
                    <div class="col-4" style="transform: translate(60%, 0px);">
                        <p>Số ĐH : <span name="iddh"></span></p>
                        <p>Ngày ĐH : <span name="datedh"></span></p>
                    </div>
                    <div class="col-2" style="transform: translate(30%, 0px);">
                        <div id="qrcode"></div>
                    </div>

                </div>
                <div class="" style="text-align:center">
                    <h1>Đơn Hàng Bán</h1>
                </div>
                <p>- Khách Hàng : <span name="customer"></span></p>
                <p>- Địa Chỉ :<span name="address"></span></p>
                <p>- Phương Thức Thanh Toán : <span name="paydh"></span></p>
                <p>- Thời Hạn Thanh Toán : <span name="datepaydh"></span></p>
                <table class="table table-bordered" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width:100%;">
                    <thead>
                        <tr role="row">
                            <th>Stt</th>
                            <th class="">Mã Hàng</th>
                            <th class="">Tên Hàng</th>
                            <th class="">Đơn Vị</th>
                            <th class="">Số Lượng</th>
                            <th class="">Đơn Giá</th>
                            <th class="">%Chiết Khấu</th>
                            <th class="">Tiền Chiết Khấu</th>
                            <th class="">%Thuế GTGT</th>
                            <th class="">Tiền Thuế GTGT</th>
                            <th class="">Thành Tiền</th>
                        </tr>
                    </thead>
                    <tbody id="tbdmodal">
                    </tbody>
                </table>
                <div style="transform: translate(80%, 0px);">
                    <p>- Tổng Tiền Chiết Khấu : <span name="sumpricediscount"></span></p>
                    <p>- Tổng Tiền Thuế : <span name="sumpricetax"></span></p>
                    <p>- Tổng Tiền Đơn Hàng : <span name="sumpricedh"></span></p>
                </div>
                <p>Tổng Thành Tiền : <span name="Tong"></span></p>
                <div class="row" style="text-align:center">
                    <div class="col-6">
                        <p><span name="namesupplier"></span></p>
                        <p name="">Người Xác Nhận</p>
                        <p name="">(Ký, ghi rõ họ tên)</p>
                    </div>
                    <div class="col-6">
                        Ngày.....Tháng....Năm........
                        <p>Người Lập Đơn hàng</p>
                        <p>(Ký, ghi rõ họ tên)</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id=hide>
                <a type="button" href="/SaleOrder/Index" class="btn btn-secondary">Close</a>
                <button type="button" onclick="printDiv('in')" class="btn btn-primary">IN</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        Customer();
        UserSale();
        WareHouse();
        Store();
        PayMethod();

        function Customer() {
            $.ajax({
                url: '/saleorder/Customer',
                type: 'get',
                success: function (data) {
                    $('#customerKH').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Khách Hàng</option>';
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.id + " : " + v.name + '</option>';
                        });
                        $('#customerKH').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        function UserSale() {
            $.ajax({
                url: '/saleorder/UserSale',
                type: 'get',
                success: function (data) {
                    $('#user').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Nhân Viên Bán</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.id + " : " + v.name + '</option>'
                        });
                        $('#user').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        function PayMethod() {
            $.ajax({
                url: '/purchaseorder/PayMethod',
                type: 'get',
                success: function (data) {
                    $('#paymethod').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Phương Thức Thanh Toán</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#paymethod').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        function WareHouse() {
            $.ajax({
                url: '/purchaseorder/WareHouse',
                type: 'get',
                success: function (data) {
                    $('#warehouse').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Kho Hàng</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#warehouse').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }
        function Store() {
            $.ajax({
                url: '/purchaseorder/Store',
                type: 'get',
                success: function (data) {
                    $('#store').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn Cửa Hàng</option>'
                        $.each(data.c, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.name + '</option>'
                        });
                        $('#store').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        }

    </script>
    <script src="~/Scripts/SaleOrder.js"></script>
}