
@{
    ViewBag.Title = "Lập Phiếu Xuất Kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Lập Phiếu Xuất Kho
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    Vui Lòng Nhập Đúng Tất Cả Dữ Liệu Để Đảm Bảo Hệ Thống
                </div>
            </div>
        </div>
        <div class="form-group row" id="HandHeld">
            <label for="example-search-input" class="col-2 col-form-label">Phương thức quét<span style="color:red"> (*Handheld)</span> </label>
            <div class="col-2">
                <input type="checkbox" id="ScanMethod" checked data-toggle="toggle" data-on="RFID" data-off="Barcode" data-onstyle="success" data-offstyle="primary">
            </div>

        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Số Đơn Hàng <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control selectpicker" id="idsaleorder" onkeyup="Show()" name="" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Xuất Tại Kho</label>
            <div class="col-10">
                <span name="K"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Khách Hàng</label>
            <div class="col-10">
                <span name="customer"></span>
            </div>
        </div>

        <div class="form-group  row">
            <label for="example-search-input" class="col-2 col-form-label">Hàng Hóa<span style="color:red;"> (*) </span></label>
            <div class="col-10" style="height: 500px;overflow-y: scroll;">
                <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width: 1234px;">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Trạng Thái</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Stt</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending" hidden>Mã Hàng</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Mã Hàng</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Tên Hàng</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Số Lượng</th>
                        </tr>
                    </thead>
                    <tbody name="tbd">
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success mr-2" onclick="RFID()">Bắt Đầu Quét RFIF</button>
                <button type="submit" class="btn btn-danger mr-2" onclick="StopRFID()">Dừng Quét RFIF</button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" onclick="Add()">Tạo Phiếu Xuất Kho </button>
                <button type="submit" class="btn btn-success mr-2" id="btnct">Chứng Từ Đính Kèm </button>
                <a href="/DetailWareHouse/Index" type="reset" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/XuatKho.js"></script>
    <script src="~/Scripts/ebapi-modules.js"></script>
    <script src="~/Scripts/elements.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript">
        var lstEpcSended = [];
        $(document).ready(function () {

            if (/Android/i.test(navigator.userAgent)) {
                $("#HandHeld").show()
            } else {
                $("#HandHeld").hide()
            }
            BarcodeEnumrate()
        });

        $("#ScanMethod").change(function () {

            if ($(this).is(":checked")) {
                alert('Bắt đầu quét RFID')
                console.log('rfid')
                lstEpcSended.length = 0;
                Show()
                EB.Barcode.disable()
                RFIDEnumrate()
            } else {
                alert('Bắt đầu quét Barcode')
                console.log('bar')
                lstEpcSended.length = 0;
                Show()
                rfid.disconnect()
                BarcodeEnumrate()
            }

        })

        //RFID

        rfid.statusEvent = "statusEvent(%json)";
        rfid.tagEvent = "TagHandler(%json)";
        function TagHandler(tagarray) {

            for (i = 0; i < tagarray.TagData.length; i++) {
                var epc = tagarray.TagData[i].tagID
                if (!lstEpcSended.includes(epc)) {
                    lstEpcSended.push(epc)
                    temp1(epc)
                }
            }


        }
        function RFIDEnumrate() {
            rfid.transport = 'serial'
            rfid.readerID = 'RFID1';

            rfid.enumerate();
            setTimeout(function () {
                rfid.connect();
            }, 1000);

        }




        //Barcode
        // MC3300

        function BarcodeEnumrate() {
            rfid.disconnect()
            EB.Barcode.enable({
                allDecoders: true
            }, MouseCheck);
        }

        function MouseCheck(code) {
            var txt = getText(document.activeElement);


            if (txt == 'idsaleorder') {
                setPurchaseOrderText(code.data)

            } else {
                temp(code)
            }

        }

        function getText(elem) {
            if ((elem.tagName === "INPUT" && elem.type === "text")) {

                return elem.id
            }
            return null;
        }



        function setPurchaseOrderText(code) {
            $('#idsaleorder').val(code)
        }

        function temp(rawBar) {
            var t = rawBar.data
            CompareReceipt(t)
        }

        function temp1(t) {
            CompareReceiptrfidMC33(t)
        }
        function CompareReceiptrfidMC33(epc) {
            $.ajax({
                url: '/rfid/CompareReceiptMC33',
                type: 'get',
                data: {
                    epc
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.a, function (k, v) {
                            CompareReceipt(v.idgood)
                        })

                    }
                }
            })
        }
    </script>
}
