
@{
    ViewBag.Title = "Danh Sách Tồn Kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group  row">
    <label for="example-search-input" class="col-2 col-form-label">Hàng Hóa<span style="color:red"> (*) </span></label>
    <div class="col-10" style="height: 500px;overflow-y: scroll;">
        <div class="input-group ">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="38" height="38"
                 viewBox="0 0 48 48"
                 style=" fill:#000000;">
                <path fill="#616161" d="M34.6 28.1H38.6V45.1H34.6z" transform="rotate(-45.001 36.586 36.587)"></path>
                <path fill="#616161" d="M20 4A16 16 0 1 0 20 36A16 16 0 1 0 20 4Z"></path>
                <path fill="#37474F" d="M36.2 32.1H40.2V44.400000000000006H36.2z" transform="rotate(-45.001 38.24 38.24)"></path>
                <path fill="#64B5F6" d="M20 7A13 13 0 1 0 20 33A13 13 0 1 0 20 7Z"></path>
                <path fill="#BBDEFB" d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path>
            </svg>
            <input class="form-control" type="search" placeholder="Tìm Mã Hàng" id="seachidgood" />
        </div>
        <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width: 1234px;">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Stt</th>
                    <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Hàng Tại</th>
                    <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Mã Hàng</th>
                    <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Tên Hàng</th>
                    <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Tồn Kho</th>
                </tr>
            </thead>
            <tbody id="tbd">
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        var seach = '';
        TonKho(seach)

        $('#seachidgood').keyup(function (e) {
                seach = $('#seachidgood').val();
                TonKho(seach)
        })
        function TonKho(seach) {
            $.ajax({
                url: '/detailwarehouse/TonKho',
                type: 'get',
                data: {
                    seach
                },
                success: function (data) {
                    var Stt = 1;
                    if (data.code == 200) {
                        $('#tbd').empty()
                        $.each(data.c, function (k, v) {
                            let table = '<tr>';
                            table += '<td>' + (Stt++) + '</td>'
                            table+='<td>'+v.K+'</td>'
                            table+='<td>'+v.id+'</td>'
                            table+='<td>'+v.name+'</td>'
                            table += '<td>' + v.inventory + '</td></tr>'
                            $('#tbd').append(table)
                        })
                    }
                }
            })
        }
    </script>
}

